.swipe__buttons{
    position: fixed;
    bottom: 1vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipe__buttons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 50px 0px rgba( 0, 0, 0, 0.3) !important;
}

.swipeButton__repeat{
    padding:1vw !important;
    color: yellow !important;
}

.swipeButton__left{
    padding:1vw !important;
    color: rgb(255, 0, 55) !important;
}

.swipeButton__star{
    padding:1vw !important;
    color: rgb(38, 0, 255) !important;
}

.swipeButton__right{
    padding:1vw !important;
    color: rgb(0, 255, 242) !important;
}

.swipeButton__lightening{
    padding:1vw !important;
    color: rgb(225, 0, 255) !important;
}